:host {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
main {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 1000;
  transition: 0.4s;
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #11141a;
}

.toolbar-content {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #11141a;
  color: #fff;
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
}

.toolbar img {
  margin: 0 16px;
}

.nav-list {
  list-style: none;
  display: flex;
  transition: transform 0.3s ease-in;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.navbar-a {
  color: white;
  text-decoration: none;
  margin-right: 20px;

  transition:
    /*transform*/
    0.4s;
}

.navbar-a:hover,
.logo:hover {
  /* display: inline-block; */
  color: #0ef;
  text-decoration: none;
  /* transform: translateY(-1px); */
}

/* .navbar-a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.navbar-a.active {
  color: #0ef;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #323946;
  color: #fff;
}

section:nth-child(odd) {
  background: #1f243d;
  ;
}

/* section:nth-child(1) {
  background: #1f243d;
}

section:nth-child(2) {
  background: #1f243d;
} */

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 999px) {

  /* html,
  body {
    overflow-x: hidden;
  } */

  .nav-list {
    position: absolute;
    /* position: fixed; */
    top: 61px;
    right: 0;
    width: 100%;
    height: 90vh;
    background: #212129;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 1;
  }

  .mobile-menu {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}