<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- Toolbar -->
    <header class="toolbar" role="banner">
      <div class="toolbar-content">
        <a href="#" class="logo">WILLZ1N</a>
        <!-- <img width="40" alt="Angular Logo" src="../assets/image/logo.svg" /> -->

        <div class="spacer"></div>

        <nav class="navbar">
          <div class="mobile-menu" (click)="handleClick()">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>

          <ul class="nav-list">
            <li>
              <a
                aria-label="Home"
                href="#home"
                (click)="teste()"
                class="navbar-a"
              >
                Home
              </a>
            </li>
            <li>
              <a
                aria-label="About"
                href="#about"
                (click)="teste()"
                class="navbar-a"
              >
                About
              </a>
            </li>
            <li>
              <a
                aria-label="Services"
                href="#services"
                (click)="teste()"
                class="navbar-a"
              >
                Services
              </a>
            </li>
            <li>
              <a
                aria-label="Portfolio"
                href="#portfolio"
                (click)="teste()"
                class="navbar-a"
              >
                Portfolio
              </a>
            </li>
            <li>
              <a
                aria-label="Contact"
                href="#contact"
                (click)="teste()"
                class="navbar-a"
              >
                Contact
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="heading" id="home">
        <div class="description">
          <div class="text">
            <h2>Hi There,<br />I'm Willian Brito</h2>
            <p class="line typing-animation">I'm Backend developer</p>
          </div>
          <a class="about" href="#about">
            <p class="asd">About me</p>
            <img src="../assets/image/down_arrow.svg" alt="" />
          </a>
        </div>
        <div class="image">
          <img src="../assets/image/eudrawned.png" alt="image" />
        </div>
      </section>
      <section class="heading" id="about">About</section>
      <section class="heading" id="services">Services</section>
      <section class="heading" id="portfolio">Portfolio</section>
      <section class="heading" id="contact">Contact</section>
    </main>
  </body>
</html>
