/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #11141a;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1f243d;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #1f243d;
  /* creates padding around scroll thumb */
}

@media (max-width: 999px) {

  html,
  body {
    overflow-x: hidden;
  }
}